body,h1,h2,h3,h4,h5,h6,p,ul,li{margin:0; padding:0}
li{list-style: none;}
body{font-family: 微软雅黑;}
a{text-decoration-line: none;}


.seg {
    margin-left: 2%;
    margin-right: 2%;
}
.seg .hr-edge-weak {
    border: 0;
    padding-top: 0.5vh;
    background: linear-gradient(to right, transparent, 	#696969, transparent);
}


.title{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}
.title h1{color: black; font-size: 4vh; text-align: center; font-weight: bold;}


.conf_info{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
}
.conf_info h1{
    font-size: 3vh; text-align: center; font-weight: normal; 
}

.authors {margin-top: 1.5%;}
.authors ul {
    display: table;		 /*这里是关键步骤：*/
    margin: 0 auto;      /*让ul在div中水平居中 */
}
.authors ul::after {     /*清除浮动 */
    content: '';
    display: inline-block;
    clear: both;
}
.authors ul li {
    float: left;         /*让li浮动起来 横向排列*/
    text-align: center;  /*让li在ul中水平居中*/
    height: 4vh;
    line-height: 4vh;   /*垂直居中*/
    width: 12vw;        /*任意设置li的宽度，不设置宽度的话也可以设置padding*/
    font-size: 1.8vh;
}
.authors ul li a{
    color:blue;
}


.institution {
    margin-left: 10%;
    margin-right: 10%;
}
.institution ul {
    display: table;		 /*这里是关键步骤：*/
    margin: 0 auto;      /*让ul在div中水平居中 */
}
.institution ul::after {     /*清除浮动 */
    content: '';
    display: inline-block;
    clear: both;
}
.institution ul li {
    float: left;         /*让li浮动起来 横向排列*/
    text-align: center;  /*让li在ul中水平居中*/
    height: 4vh;
    line-height: 4vh;   /*垂直居中*/
    width: 20vw;        /*任意设置li的宽度，不设置宽度的话也可以设置padding*/
    font-size: 1.8vh;
}
.institution ul li a{
    color:black
}


.figure_full_width{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1.5%;
    text-align: center;
}
.figure_full_width img{
    width: 100%;
}
.figure_full_width p{
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}


.figure_custom{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1.5%;
    text-align: center;
}
.figure_custom p{
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}


.paragraph{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1.5%;
}
.paragraph h1{
    font-size: 2.5vh;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}
.paragraph p{
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}



.download{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1.5%;
    margin-bottom: 5%;
}
.download h1{
    font-size: 2.5vh;
    font-weight: bold;
}
.download .list{
    display: flex;
}
.download .list .file{
    margin-top: 1vh;
    margin-right: 2vw;
}
.download .list .file ul li img{width: 5vw;}
.download .list .file a{color: black;}





